<a href="https://colab.research.google.com/github/Uriel1201/HelloSQL2.0/blob/main/mobile_web/query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#07. Mobile and web visitors
**With the following two tables, return the fraction of users who only visited mobile,only visited web, and visited both.**

In [36]:
import pandas as pd
import numpy  as np

data1 = {'user_id'   : [1,2,3,4,9,2,10],
         'page_url'  : ['A','B','C','A','B','C','B']
        }

data2 = {'user_id'    : [6,2,3,7,4,8,5],
         'page_url'   : ['A','B','C','A','B','C','B']
        }

mobile=pd.DataFrame(data1)
web=pd.DataFrame(data2)

In [37]:
print(f'mobile users:\n {mobile}')

mobile users:
    user_id page_url
0        1        A
1        2        B
2        3        C
3        4        A
4        9        B
5        2        C
6       10        B

In [38]:
print(f'web users:\n {web}')

web users:
    user_id page_url
0        6        A
1        2        B
2        3        C
3        7        A
4        4        B
5        8        C
6        5        B

In [39]:
df1=(pd.merge(mobile.drop(columns=['page_url']),
              web.drop(columns=['page_url']),
              on='user_id',
              how='outer',
              indicator=True)
       .drop_duplicates()
)
print(df1)

    user_id      _merge
0         1   left_only
1         2        both
3         3        both
4         4        both
5         5  right_only
6         6  right_only
7         7  right_only
8         8  right_only
9         9   left_only
10       10   left_only

In [40]:
df2=(pd.merge(mobile.drop(columns=['page_url']),
                          web.drop(columns=['page_url']),
                          on='user_id',
                          how='outer',
                          indicator=True)
                    .drop_duplicates()
)
df3=(pd.get_dummies(user_preferences['_merge'])
       .rename(columns={'left_only':'mobile'
                        ,'right_only':'web'
               }
        )
)
print(f'have users visited via web or mobile:\n{df3}')

have users visited via web or mobile:
    mobile    web   both
0     True  False  False
1    False  False   True
3    False  False   True
4    False  False   True
5    False   True  False
6    False   True  False
7    False   True  False
8    False   True  False
9     True  False  False
10    True  False  False

In [41]:
df=(pd.merge(mobile.drop(columns=['page_url']),
             web.drop(columns=['page_url']),
             on='user_id',
             how='outer',
             indicator=True
        )
       .drop_duplicates()
)
frequencies=(pd.get_dummies(df['_merge'])
               .rename(columns={'left_only':'mobile'
                                ,'right_only':'web'
                       }
                )
               .mean()
)
print('fractions:')
frequencies

fractions:

mobile    0.3
web       0.4
both      0.3
dtype: float64