<a href="https://colab.research.google.com/github/Uriel1201/HelloSQL2.0/blob/main/super_users/query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**05.Super users.**
**A company defines its super users as those who have made at least two transactions. From the following table, write a query to return, for each user, the date when they become a superuser,ordered by oldest super users first. Users who are not super users should also be present in the table.**

In [2]:
import pandas as pd
import numpy as  np

data = {'user_id'          : [1,2,1,3,1,2,4,3],
        'product_id'       : [101,105,111,121,101,105,101,105],
        'transaction_date' : ['12-FEB-20',
                              '13-FEB-20',
                              '14-FEB-20',
                              '15-FEB-20',
                              '16-FEB-20',
                              '17-FEB-20',
                              '16-FEB-20',
                              '15-FEB-20']
        }

users=pd.DataFrame(data)

In [3]:
date=users['transaction_date']
date=pd.to_datetime(date,format="%d-%b-%y")
print(users)

   user_id  product_id transaction_date
0        1         101        12-FEB-20
1        2         105        13-FEB-20
2        1         111        14-FEB-20
3        3         121        15-FEB-20
4        1         101        16-FEB-20
5        2         105        17-FEB-20
6        4         101        16-FEB-20
7        3         105        15-FEB-20

In [4]:
df1=(users[['user_id','transaction_date']].sort_values(by=['user_id','transaction_date'])
)
print(f'Dates of transactions:\n{df1}')

Dates of transactions:
   user_id transaction_date
0        1        12-FEB-20
2        1        14-FEB-20
4        1        16-FEB-20
1        2        13-FEB-20
5        2        17-FEB-20
3        3        15-FEB-20
7        3        15-FEB-20
6        4        16-FEB-20

In [8]:
super=(users.sort_values(by=['user_id','transaction_date'])
            .groupby('user_id'
                     ,as_index=False
             )
            .agg(date=('transaction_date'
                       ,lambda x:
                               x.iloc[1] if len(x)>1 else pd.NaT
                 )
             )
)
print(f'What is the date a super:\n{super}')

What is the date a super:
   user_id       date
0        1  14-FEB-20
1        2  17-FEB-20
2        3  15-FEB-20
3        4        NaT