<a href="https://colab.research.google.com/github/Uriel1201/HelloSQL2.0/blob/main/most_friended/query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 09. Most friended
**Given the following table, return a list of users and their corresponding friend count. Order the result by descending friend count, and in the case of a tie, by ascending user ID. Assume that only unique friendships are displayed.**

In [1]:
import pandas as pd
import numpy  as np

data    = {'user_1' : [1,1,1,2],
           'user_2' : [2,3,4,3]
          }
friends = pd.DataFrame(data)

In [3]:
print(f'friends:\n{friends}')

friends:
   user_1  user_2
0       1       2
1       1       3
2       1       4
3       2       3

In [14]:
df1=(pd.concat([friends['user_1'],friends['user_2']])
       .reset_index()
       .drop(columns=['index'])
       .rename(columns={0:'number_of_repetitions'})
)
print(f'number of repetitions:\n{df1}')

number of repetitions:
   number_of_repetitions
0                      1
1                      1
2                      1
3                      2
4                      2
5                      3
6                      4
7                      3

In [24]:
most_friended=(pd.concat([friends['user_1']
                          ,friends['user_2']
                         ]
                  )
                 .reset_index()
                 .drop(columns=['index'])
                 .rename(columns={0:'friend_id'})
                 .groupby('friend_id')
                 .size()
                 .sort_values(ascending=False)
)
print(f'number of friends by each user:\n')
most_friended

number of friends by each user:

friend_id
1    3
2    2
3    2
4    1
dtype: int64